@import "normalize";
$white: white;
$black: #00171F;
$grey: #555;
$primaryColor: #007EA7; //003459 //00A8E8
$fontFamily: 'Roboto', sans-serif;

* {
  font-family: $fontFamily;
}

.ember-cli-g-map {
  height: 300px;
}

.dashboard-container {
  text-align: center;
}

.dashboard-title {
  color: $grey;
}

.nav-bar {
  align-items: center;
  background: $black;
  color: $white;
  display: flex;
  font-size: 18px;
  height: 80px;

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__list-item {
    padding: 8px 16px;
  }
}

.arrow_box {
  position: relative;
  background: $primaryColor;
  opacity: .8;

  padding: 8px;
  color: $white;
  font-family: $fontFamily;
  font-size: 14px;
  border-radius: 5px;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

$arrowSize: 8px;
.arrow_box:after {
  border-top-color: $primaryColor;
  border-width: $arrowSize;
  margin-left: -$arrowSize;
}

.arrow_box:before {
  border-top-color: $primaryColor;
  border-width: $arrowSize;
  margin-left: -$arrowSize;
}
