@import "normalize";
$white: white;
$black: #00171F;
$grey: #555;
$primaryColor: #007EA7; //003459 //00A8E8
$fontFamily: 'Roboto', sans-serif;
$border-color: #DADADA;

* {
  font-family: $fontFamily;
}

.ember-cli-g-map {
  height: 300px;
}

.dashboard-container {
  text-align: center;
  width: 95%;
  margin: auto;
}

.dashboard-title {
  color: $grey;
}

.nav-bar {
  align-items: center;
  background: $black;
  color: $white;
  display: flex;
  font-size: 18px;
  height: 80px;

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__list-item {
    padding: 8px 16px;
  }
}

// employee map marker
.arrow_box {
  position: relative;
  background: $primaryColor;
  opacity: .8;

  padding: 8px;
  color: $white;
  font-family: $fontFamily;
  font-size: 14px;
  border-radius: 5px;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

$arrowSize: 8px;
.arrow_box:after {
  border-top-color: $primaryColor;
  border-width: $arrowSize;
  margin-left: -$arrowSize;
}

.arrow_box:before {
  border-top-color: $primaryColor;
  border-width: $arrowSize;
  margin-left: -$arrowSize;
}

.issue-number {
  color: $primaryColor;
  font-size: 32px;
  margin: 0 10px;
}

.metric-chart {
  border: 1px solid $border-color;
  padding: 5px;
  margin: 10px 0;
}

.chart-header {
  font-size: 24px;
  margin: 48px 0 16px 0;
  color: $primaryColor;
}

// table styles borrowed from https://github.com/offirgolan/ember-light-table/blob/master/tests/dummy/app/styles/table.less
.ember-light-table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;

  thead .lt-column {
    border-bottom: 1px solid $border-color;
  }

  .lt-column {
    font-size: 14px;
    padding: 10px;

    .lt-sort-icon {
      width: 15px;
    }

    &.lt-group-column {
      border: none !important;
      padding-bottom: 10px;
    }

    .lt-column-resizer {
      border-right: 1px dashed #ccc;
      border-left: 1px dashed #ccc;
    }
  }

  .lt-row {
    height: 50px;

    &.is-selected {
      background-color: #DEDEDE !important;
    }

    &:not(.is-selected):hover {
      background-color: #F5F4F4 !important;
    }

    &:last-of-type {
      td {
        border-bottom-width: 0;
      }
    }

    &.lt-expanded-row, &.lt-no-data {
      &:hover {
        background-color: transparent !important;
      }
      td {
        padding: 15px;
      }
    }

    td {
      border-color: $border-color;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      font-size: 13px;
      padding: 0 10px;
    }
  }
}

