<div class="dashboard-container">
  <h2 class="dashboard-title">Key Metrics</h2>

  <div>
    <span class="issue-number">{{numIssues}}</span> open issues
  </div>

  <div class="chart-header">
    Issues Over Time
  </div>
  {{time-series-chart
    barData=barData
    class="metric-chart"}}

  <div class="chart-header">
    Paying Customers Over Time
  </div>
  {{time-series-chart
    lineData=lineData
    class="metric-chart"
    }}
  {{outlet}}
</div>

